@page "/users/{UserId:int}"
@inject IUserService UserService
@inject IFollowService FollowService
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage

<p1>Username: @_user.Username</p1>
<br />
<p1>Karma: @_user.Karma</p1>
<br />
@if (_user?.Follows != null)
{
    if (_user.Follows.Find(e => e.FollowerId == VisitorId) == null)
    {
        <Button Title="Follow" OnClick="@(() => FollowUser())" Enabled="true" ></Button>
    }
    else
    {
        <Button Title="Unfollow" OnClick="@(() => UnfollowUser())" Enabled="true"></Button>
    }

    string text = "Followers: " + @_user.Follows.Count.ToString();
    <Paragraph OnClick="@ToggleFollowList" Text="@text"></Paragraph>
}

@if (FollowList && _user?.Follows != null)
{
    @foreach (var follow in _user.Follows)
    {

        <Card>
            <Paragraph Text="@FollowInfoList.Find(e => e.Id == follow.FollowerId).Username" OnClick="@(() => NavigateToUser(follow.FollowerId))"></Paragraph>
        </Card>
    }
}

@code {

    [Parameter]
    public int UserId { get; set; }

    public int VisitorId;

    private User _user = new User();

    private bool FollowList = false;

    private List<User> FollowInfoList = null;

    protected override async Task OnInitializedAsync()
    {
        int userId = await localStorage.GetItemAsync<int>("userId");
        if (userId == 0) NavigationManager.NavigateTo("/authentication");
        _user = await UserService.GetPublicUserInfo(UserId);
        VisitorId = userId;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _user = await UserService.GetPublicUserInfo(UserId);
        await base.OnAfterRenderAsync(true);
    }

    private async Task ToggleFollowList()
    {
        if (FollowInfoList == null)
        {
            FollowInfoList = await GetFollowInfo();
        }

        FollowList = !FollowList;
        StateHasChanged();
    }

    private async Task<List<User>> GetFollowInfo()
    {
        FollowInfoList = new List<User>();

        foreach (var follow in _user.Follows)
        {
            FollowInfoList.Add(await UserService.GetPublicUserInfo(follow.FollowerId));
        }
        return FollowInfoList;
    }

    private Task NavigateToUser(int userId)
    {
        NavigationManager.NavigateTo("/users/" + userId);
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task FollowUser()
    {
        _user.Follows = await FollowService.FollowUser(_user.Id, VisitorId);
        FollowList = false;
        StateHasChanged();
    }

    private async Task UnfollowUser()
    {
        _user.Follows = await FollowService.UnfollowUser(_user.Id, VisitorId);
        FollowList = false;
        StateHasChanged();
    }
}


