
    @if (!Enabled)
    {
        <button @onclick="@Click" class=" @Class @(Size == ButtonSize.Small ? "button-small" : Size == ButtonSize.Big ? "button-big" : Size == ButtonSize.Full ? "button-full" : "button-medium")" disabled>@Title</button>
    }
    else
    {
        <button @onclick="@Click" class=" @Class @(Size == ButtonSize.Small ? "button-small" : Size == ButtonSize.Big ? "button-big" : Size == ButtonSize.Full ? "button-full" : "button-medium")">@Title</button>
    }


@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public Func<Task> OnClick { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Medium;

    [Parameter]
    public bool Enabled { get; set; } = false;

    private async Task Click()
    {
        if (OnClick != null)
        {
            await OnClick.Invoke();
        }
    }

    public void ToggleEnabled(bool Enable)
    {
        this.Enabled = Enable;
        StateHasChanged();
    }
}
